In [17]:
print (5 / 3) #division

1.6666666666666667

In [18]:
round () -> will tell how many decimal digits it will have

SyntaxError: invalid syntax (949138808.py, line 1)

In [ ]:
round (5 / 3, 2)

1.67

In [ ]:
print (5 // 3) #flor division

1

In [ ]:
5 % 3 #remainder

2

In [ ]:
5 ** 3 # 5 to the power of 3

125

In [ ]:
True # boolean data type
true # nothing special LOL

NameError: name 'true' is not defined

In [ ]:
50 > 25

True

In [ ]:
2 + 2 ** 3

10

In [ ]:
2 ** 3 + 2

10

In [19]:
degree_celsius = 10
Degree_delsius = 20
Degree_Celsius = 30

f = (9/5) * degree_celsius + 32

In [23]:
2 + (2 * 2) + (3 * 3)

15

In [27]:
a = 1 # a points to the memory position with 1
b = a # b points to the same position as A
print("a:",id(a)," b:", id(b))

a: 1680368888112  b: 1680368888112

In [26]:
a = 1 # a points to the memory position of 1
b = 2 # b points to the memory position of 2
print("a:",id(a)," b:", id(b))

a: 1680368888112  b: 1680368888144

In [1]:
summary_functions=[len,sum,max,min]

print (summary_functions)

[<built-in function len>, <built-in function sum>, <built-in function max>, <built-in function min>]

In [2]:
mystery_solvers = [['Sherlock','Watson'],
                   ['Scooby','Shaggy','Fred','Veldma','Daphne'],
                   ['Nancy']
                   ]

In [4]:
grades =[1,2,3,4,5,6,7,8,9,10,11,12]

grades[:4]

[1, 2, 3, 4]

In [5]:
sandwich = ['bread', 'cheese','bread']

sandwich_copy = sandwich #both variables are pointing to the same list

In [6]:
sandwich[1] = 'tuna'

sandwich_copy #use 1 variable to change the value also changed the other 
              #  because both bariables are pointng to the same memory location

['bread', 'tuna', 'bread']

In [13]:
#to have 2 variables, one with a copy of the list use ...

sandwich_copy = sandwich.copy() #copy a list

sandwich_copy = list(sandwich)

print(sandwich , sandwich_copy)

sandwich_copy[1] = 'cheese again'

print(sandwich , sandwich_copy)

['bread', 'tuna', 'bread'] ['bread', 'tuna', 'bread']
['bread', 'tuna', 'bread'] ['bread', 'cheese again', 'bread']

In [14]:
#to have 2 variables, one with a copy of the list use ...

sandwich_copy = list(sandwich) #create a list based on another

print(sandwich , sandwich_copy)

sandwich_copy[1] = 'cheese again'

print(sandwich , sandwich_copy)

['bread', 'tuna', 'bread'] ['bread', 'tuna', 'bread']
['bread', 'tuna', 'bread'] ['bread', 'cheese again', 'bread']

In [12]:
numbers = [1,2,3,4]

numbers[:2] * 2

[1, 2, 1, 2]

In [24]:
rainbow = ['red','orange','yellow','green','light blue','blue','violet']
print(rainbow)

rainbow.append('purple')
print(rainbow)

rainbow.extend(['magenta','pink']) #unpack the elements and add to the end of the list
print(rainbow)

rainbow.extend('red') #this will unpack the string into it's elements and add to the list
print(rainbow)

rainbow.insert(6,'indigo')
print(rainbow)

rainbow.remove ('red')
print(rainbow)

['red', 'orange', 'yellow', 'green', 'light blue', 'blue', 'violet']
['red', 'orange', 'yellow', 'green', 'light blue', 'blue', 'violet', 'purple']
['red', 'orange', 'yellow', 'green', 'light blue', 'blue', 'violet', 'purple', 'magenta', 'pink']
['red', 'orange', 'yellow', 'green', 'light blue', 'blue', 'violet', 'purple', 'magenta', 'pink', 'r', 'e', 'd']
['red', 'orange', 'yellow', 'green', 'light blue', 'blue', 'indigo', 'violet', 'purple', 'magenta', 'pink', 'r', 'e', 'd']
['orange', 'yellow', 'green', 'light blue', 'blue', 'indigo', 'violet', 'purple', 'magenta', 'pink', 'r', 'e', 'd']

In [26]:
fruits=['pinapple','banana','kiwi','apple']
fruits.sort() #change the list sorting the elements
fruits

['apple', 'banana', 'kiwi', 'pinapple']

In [31]:
vegetables=['potato','onion','celery','cabbage']

print("sorted",sorted(vegetables)) # sirted() - do not change the original list ... instead return a new list sorted

print("vegetables",vegetables)

sorted ['cabbage', 'celery', 'onion', 'potato']
vegetables ['potato', 'onion', 'celery', 'cabbage']

In [33]:
def last_letter(text):
    return text[-1]

print (sorted(vegetables, key = last_letter))

['cabbage', 'onion', 'potato', 'celery']

In [35]:
def second_element(item):
    return item[1] #get second element

studens_per_class =[['Grade 9',20], ['Grade 10',17],['Grade 11',13],['Grade 12',22]]

studens_per_class.sort(key=second_element)

print (studens_per_class)

[['Grade 11', 13], ['Grade 10', 17], ['Grade 9', 20], ['Grade 12', 22]]